/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    position: relative;
}

body{
    position: relative;
    min-height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
    background: #ffd3b8;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Main
   ========================================================================== */

#loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FAFAFA;
	z-index: 999999;
}

#loader img{
    position: relative;
    margin: 25% auto 0;
    display: block;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#page-2{
    left: 100%;
}

.page.active{
    display: block;
}

.content{
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    color: #444;
}

.countdown{
    color: #fff;
    text-align: center;
    font-weight: 400
}

.background{
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.background > div{
    width: 100%;
    height: 100%;
}

.btn{
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 8px 46px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 30px;
    margin: 15px;
}

.btn .icon{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    bottom: -7px;
}

.btn:hover,
.btn:hover .icon .cursor{
    transition: all 0.3s ease-in-out;
}

.btn-purple{
    background: #4A299F;
    color: #FFF;
}

.btn-purple .icon .cursor{
    fill:#FEF45D;
}

.btn-purple:hover{
    color: #4A299F;
    background: #FEF45D;
}

.btn-purple:hover .icon .cursor{
    fill:#4A299F;
}

.btn-yellow{
    background: #FEF45D;
    color: #4A299F;
}

.btn-yellow .icon .cursor{
    fill:#4A299F;
}

.btn-yellow:hover{
    color: #FEF45D;
    background: #4A299F;
}

.btn-yellow:hover .icon .cursor{
    fill:#FEF45D;
}

.footer{
    margin-top: 15px;
    text-align: center;
}

#container{
    min-height: 800px;
}


/* ==========================================================================
   SCENE 1
   ========================================================================== */

#countdown {
    color: #4A299F;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    /* text-shadow: 
        0 1px 0 rgb(204,204,204) , 
        0 2px 0 rgb(201,201,201) , 
        0 3px 0 rgb(187,187,187) , 
        0 4px 0 rgb(185,185,185) , 
        0 5px 0 rgb(170,170,170) , 
        0 6px 1px rgba(0,0,0,0.0980392), 
        0 0 5px rgba(0,0,0,0.0980392), 
        0 1px 3px rgba(0,0,0,0.298039), 
        0 3px 5px rgba(0,0,0,0.2), 
        0 5px 10px rgba(0,0,0,0.247059), 
        0 10px 10px rgba(0,0,0,0.2), 
        0 20px 20px rgba(0,0,0,0.14902); */
    margin: 4% 0;
    text-align: center;
}

.title{
    max-width: 70%;
    margin-left: 15%;
    margin-top: 20%;
}

/* ==========================================================================
   SCENE 2
   ========================================================================== */
.details {
    border-radius: 30px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #FFF;
    max-width: 363px;
    margin: 30px auto;
}

.details h3 {
	font-weight: 300;
	color: #5530a0;
	font-size: 2em;
	text-align: center;
	padding: 0;
	margin: 5px auto;
}

/* ==========================================================================
   Parallax
   ========================================================================== */

#background{
    position: fixed;
    top: -5%;
    left: 0%;
    width: 200%;
    height: 100%; 
    background: url('../img/parallax/bg.jpg') no-repeat bottom / cover;
    transition: all ease-in-out 1.5s;
    transition-delay: 1.5s;
    max-width: 2160px;
}

#parallax{
    width: 200%;
    transition: all ease-in-out 1s;
    transition-delay: 1s;
}

#layer-1{ 
    background: url('../img/parallax/bg_1.png') no-repeat 10% 90% / contain;
    bottom: -2%;
    left: -3%;
}

#layer-2a {
	background: url('../img/parallax/bg_2_2.png') no-repeat 10% 90% / contain;
	max-height: 38%;
	bottom: -1%;
	left: -36%;
}

#layer-2b {
	background: url('../img/parallax/dino_1.png') no-repeat 10% 90% / contain;
	bottom: 2%;
	left: -7%;
	max-height: 42%;
}

#layer-2c {
	background: url('../img/parallax/bg_2_1.png') no-repeat 10% 90% / contain;
	bottom: -14%;
	left: -6%;
}

#layer-3a {
	background: url('../img/parallax/bg_3_1.png') no-repeat 10% 90% / contain;
	bottom: -7%;
	left: -18%;
	max-height: 19%;
}

#layer-3b {
	background: url('../img/parallax/dino_2.png') no-repeat 10% 90% / contain;
	max-height: 231px;
	bottom: -5%;
	right: -64%;
}

#layer-3c {
	background: url('../img/parallax/bg_3_2.png') no-repeat 10% 90% / contain;
	max-height: 300px;
	bottom: -10%;
	right: -43%;
}

.bg_scene{
    height: 120%;
    width: 120%;
    position: absolute
}

#dino_3 {
	position: absolute;
	top: 32%;
	left: 37%;
	max-width: 18%;
}

#arbol {
	max-width: 45%;
	width: auto;
    position: absolute;
	right: -10%;
	top: -5%;
}

/* ==========================================================================
   Animation
   ========================================================================== */

.page.anim .fadeUp{
    animation: fadeTop 2s 1 cubic-bezier(1,0,0,1) normal forwards;
    position: relative;
}

.page.anim .fadeDown{
    animation: fadeBottom 2s 1 cubic-bezier(1,0,0,1) normal forwards;
    position: relative
}

.page.anim .scale{
    animation: xcale 2s 1 cubic-bezier(1,0,0,1) normal forwards;
}

.page.anim .background{
    /* filter: blur(4px); */
}

 /* The animation code */
@keyframes fadeTop {
    0%   { top: 0; opacity: 1}
    100% { top: -20%; opacity: 0 }
}

@keyframes fadeBottom {     
    0%   { bottom: 20px; opacity: 1 }
    100% { bottom: -20%; opacity: 0; }
}

@keyframes xcale {
    0%   { transform: scale(1.1) }
    100% { transform: scale(0) }
}

@keyframes pivot {
    0%   { transform: rotate( 0deg ) }
    50%  { transform: rotate( 15deg ) }
    100% { transform: rotate( -25deg ) }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 1080px), handheld and (orientation: landscape) { 
    #background,
    #parallax{
        display: none;
    }
    body{
        background: url('../img/parallax/bg_landscape.jpg') no-repeat bottom / cover;
    }
}

@media (orientation: landscape) { 
    #layer-2a {
        background: url('../img/parallax/bg_2_2.png') no-repeat 10% 90% / contain;
        max-height: 63%;
        bottom: -2%;
        left: -23%;
    }

    #layer-2b {
        background: url('../img/parallax/dino_1.png') no-repeat 10% 90% / contain;
        bottom: 2%;
        left: -15%;
        max-height: 56%;
    }

    #layer-2c {
        background: url('../img/parallax/bg_2_1.png') no-repeat 10% 90% / contain;
        bottom: -23%;
        left: -6%;
    }

    #layer-3a {
        background: url('../img/parallax/bg_3_1.png') no-repeat 10% 90% / contain;
        bottom: -6%;
        left: -12%;
        max-height: 19%;
    }
    
    #layer-3b {
        background: url('../img/parallax/dino_2.png') no-repeat 10% 90% / contain;
        max-height: 231px;
        bottom: -5%;
        right: -81%;
    }
    
    #layer-3c {
        background: url('../img/parallax/bg_3_2.png') no-repeat 10% 90% / contain;
        max-height: 300px;
        bottom: -10%;
        right: -78%;
    }

    #dino_3 {
        position: absolute;
        top: 5%;
        left: 12%;
        max-width: 9%;
    }
}




@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
